/*
Theme Name: Prague Escort
Theme URI: https://pragueescort.com/
Author: the WordPress team
Author URI: https://i-wp-dev.com/
Description: Catalog of escort services in Prague
Version: 1.0
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: pragueescort
*/

.hide,
.standard-plan-block .status.standard,
.post-type-archive .status.standard,
.archive .diamond-plan .status.standard {
    display: none !important;
}

.seo-block {
    margin-top: 40px;
}
section .seo-block h1 {
    color: #111;
    font-weight: 700;
    font-size: 32px;
}
section .seo-block h2,
section .seo-block h3,
section .seo-block h4,
section .seo-block h5,
section .seo-block h6{
    color: #111;
    font-weight: 700;
}
section .seo-block h2{
    font-size: 28px;
}
section .seo-block h3{
    font-size: 24px;
}
section .seo-block h4{
    font-size: 20px;
}
section .seo-block h5{
    font-size: 18px;
}
section .seo-block h6{
    font-size: 16px;
}
section .seo-block p{
    font-size: 16px;
}
section .seo-block ol{
    list-style: disc;
    padding-left: 16px;
}
section .seo-block ul{
    list-style: decimal;
    padding-left: 16px;
}
section .seo-block li{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}
.home .seo-block ol,
.home .seo-block ul{
    padding-left: 20px;
}
.home .seo-block .wpb_text_column .wpb_wrapper,
.seo-block .vc_column-inner .wpb_wrapper .vc_column_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 240px;
    overflow: hidden;
    line-height: 1.4;
}
.home .seo-block .wpb_wrapper.open .wpb_wrapper,
.seo-block .vc_column-inner .wpb_wrapper.open .vc_column_container{
    max-height: inherit;
}
.seo-block .seo-more{
    padding: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex !important;
    flex-direction: column;
    width: 100%;
}
.seo-block .seo-more .vc_btn3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 40px;
    padding: 0 24px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s ease;
    background: linear-gradient(100.51deg,#ff7625 0,#c43bbb 100%);
    width: 135px;
    font-weight: 500;
    font-size: 20px;
    color: #fff !important;
    
}
.seo-block .seo-more .vc_btn3:hover{
    background: linear-gradient(0deg,rgba(108,27,27,.41),rgba(108,27,27,.41)),linear-gradient(120.62deg,#ff701c 13.28%,#d81fcc 86.7%);
    box-shadow: 0 2px 4px rgba(50,17,77,.25);
}